---
---

@import "{{ site.theme }}";

/* for full width figure extending past right margin */
.innerwide {
  position: relative;
  max-width: 1024px;
  padding: 20px 0px;
  margin: 20px 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.5); 
}

/* for regular figure extending past right margin and text wrap to left */
.innerwideright {
  float: right;
/*  position: relative; */ 
  max-width: 1024px;
  padding: 0px 20px;
  margin-left: 20px;  
  margin-right: 0; 
  box-shadow: 0 0 10px rgba(0,0,0,.5); 
}
/* wider paragraph to accomodate .innerwideright */
.pwide {
    width: 768px;
    margin: 10px 0 15px 0;
}

/* resize images */
.innerwide img {
    width: 100%;
    height: auto;
}
.innerwideright img {
    width: 100%;
    height: auto;
}

/* for banner image */
#banner_left {
  display: block;
  position: absolute;
  top:10px;
  left: 10px;
  z-index: 10;
  padding: 0px 0px 0px 0px;
  border: none;
  color: #fff;
  background: #ffffff;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5); 
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

